@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: #359381;
  pointer-events: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #359381;
  margin: 4px 0;
  border-radius: 5px;
}


@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    border-top: 1px solid #ccc;
    z-index: 99;
  }

  .navigation.show {
    display: flex;
  }

  .navigation a {
    margin: 15px 0;
    font-size: 1.2rem;
  }

  .hamburger {
    display: flex;
  }
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 118vh;
  overflow: hidden;
  box-sizing: border-box;
}

#text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  text-align: center;
}

.parallax img {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}

.sec {
  position: relative;
  background: #003329;
  padding: 40px 20px;
  margin-top: 0;
}

.sec h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Playwrite AR", cursive;
  text-align: center;
}

.sec p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  text-align: justify;
}


/* Small Devices: iPhones, Androids */
@media (max-width: 480px) {
  #text {
    font-size: 3rem;
    padding: 0 10px;
  }

  .sec h2 {
    font-size: 2rem;
  }

  .sec p {
    font-size: 1rem;
  }
}
