@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 2rem;
    color: #359381;
    pointer-events: none;
    margin-right: 350px;
}

.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
    background:#359381;
    color:#fff;
}

.parallax{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 118vh;
    overflow: hidden;
}

#text{
    position: absolute;
    font-size: 5rem;
    /* color: #333; */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: #003329;
    padding: 90px;
}

.sec h2{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Playwrite AR", cursive;
}
.sec p{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}